
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{    
    border-color: green;
    border-style: solid;
    border-width: 5px;
    
 }


body{
    font-family: 'Montserrat', sans-serif ;    
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    min-height: 100vh;
}
header{
    height: 100%;
    width: 100%;
    
}
/*---------Estilos Generales-----------------*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    
    font-size: 2.5rem;

}

.seccion-oscura{
    color: white;
    background-color: #1b1b32;
}
.seccion-clara{
    color:black;
    background-color: white;
}


.seccion-titulo{   
    font-size: 2rem;
    padding: 15px 0;
    
}

.seccion-texto{
    font-size: 1.2rem;
   
}
/*--------------------------------------------*/

/*||||||||||||||||||||||||||header|||||||||||||||||||||||||||*/
.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero__principal{
    padding: 3rem;
}

.hero__img-profile{
    width: 200px;
    height: 200px;
   /* border-radius: 50%; <-------ya no es necesario si aplica la clase de boostrap:---> rounded-circle   */
    margin: 20px;
}

.hero__principal h1{
    font-family: 'Cinzel', serif;
}

.hero__principal h2{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: #615151;
}
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*||||||||||||||||||main|||||||||||||||||||||*/

/*-------Sobre mi--------------------*/
.about{
    height: 500px;
    padding: 10px;
}

.about__container{
    max-width: 600px;
    text-align: center;
}


/*----------------------------------*/
.skills{
    padding: 40px;
}

.skills .row div{
    height: 250px;
    background-color: purple;
    border: 3px solid orange;
}

.skills__name{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.skills__img{
    height: 50%;
    width: 50%;
}


.academic{
   /*padding: 0 2rem;*/
}

.experience{
   /*padding: 0 2rem;*/
}






footer{
    border-color: red;
    border-style: solid;
    border-width: 1px;
    background: url(), rgb(61, 60, 60);
    color: white;
    text-align: center;
    
}


/*--------------Responsive------------------*/
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
} 

@media screen and (min-width: 700px){
    .hero__inferior-img{              /*<-------Ojo aquí tuve que usar combinacion de selectores: clase y etiqueta para que le de prioridad y no entre en conflicto con .img-fluid de boostrap; ---> ver comportamiento en el devtools de google*/
        max-width: 600px;             /*CORREGIDO importante el Orden en el head poner de primero boostrap y de último style.css de esta manera da prioridad a mis clases por encima de boostrap cuando esten usando la o las mismas propiedades como en este caso */
    }
  
}    